<div class="chart-settings-container">
  <h2>Chart Settings</h2>
  <button
    mat-raised-button
    color="primary"
    (click)="addChart()"
    class="add-chart-button"
  >
    Add New Chart
  </button>

  <mat-list class="chart-settings">
    <mat-list-item
      *ngFor="let chart of charts$ | async"
      class="chart-list-item"
    >
      <div class="chart-list-item-content">
        {{ chart.name }}
        <span class="chart-list-item-actions">
          <button mat-icon-button (click)="editChart(chart)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteChart(chart.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
    </mat-list-item>
  </mat-list>
</div>
