.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Adjust spacing between charts */
  margin: 0 auto; /* Center container horizontally */
  padding: 20px; /* Add some padding */
}

.chart-item {
  width: 100%; /* Responsive width */
  max-width: 500px; /* Adjust max-width for smaller screens */
  margin-bottom: 20px;
}
.chart-list-title {
  text-align: center;
}

@media (min-width: 768px) {
  /* Adjust breakpoint as needed */
  .chart-item {
    width: 40%; /* Adjust width for medium screens */
  }
}

@media (min-width: 1200px) {
  .chart-item {
    width: 30%; /* Adjust width for larger screens */
  }
}
