<h2 mat-dialog-title>{{ data ? "Edit Chart" : "Add New Chart" }}</h2>
<mat-dialog-content>
  <form [formGroup]="chartForm">
    <mat-form-field>
      <input matInput placeholder="Chart Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Chart Type" formControlName="type">
        <mat-option value="line">Line</mat-option>
        <mat-option value="spline">Spline</mat-option>
        <mat-option value="area">Area</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="color"
        placeholder="Chart Color"
        formControlName="color"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="chartForm.value"
    [disabled]="!chartForm.valid"
  >
    Save
  </button>
</mat-dialog-actions>
