<h2 mat-dialog-title>{{ data ? "Edit Chart" : "Add New Chart" }}</h2>
<mat-dialog-content>
  <form [formGroup]="chartForm" class="chart-form">
    <mat-form-field>
      <mat-label>Chart Name</mat-label>
      <input matInput placeholder="Enter chart name" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chart Type</mat-label>
      <mat-select placeholder="Select chart type" formControlName="type">
        <mat-option value="line">Line</mat-option>
        <mat-option value="spline">Spline</mat-option>
        <mat-option value="area">Area</mat-option>
      </mat-select>
    </mat-form-field>
    <div formArrayName="data" class="data-points">
      <h3>Data Points</h3>
      <div
        *ngFor="let dataPoint of dataFormArray.controls; let i = index"
        class="data-point-row"
      >
        <mat-form-field appearance="outline">
          <mat-label>Data Point {{ i + 1 }}</mat-label>
          <input matInput type="number" [formControlName]="i" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Label {{ i + 1 }}</mat-label>
          <input matInput [formControlName]="i" formArrayName="labels" />
        </mat-form-field>

        <button
          mat-icon-button
          color="warn"
          (click)="removeDataPoint(i)"
          aria-label="Remove data point"
        >
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>

      <button mat-stroked-button color="primary" (click)="addDataPoint()">
        <mat-icon>add</mat-icon> Add Data Point
      </button>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        formControlName="startDate"
        required
        placeholder="Enter start date (YYYY-MM-DD)"
        (blur)="formatDate('startDate')"
      />
      <mat-error *ngIf="chartForm.get('startDate')?.hasError('required')">
        Start date is required.
      </mat-error>
      <mat-error *ngIf="chartForm.get('startDate')?.hasError('pattern')">
        Start date must be in the format YYYY-MM-DD.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input
        matInput
        formControlName="endDate"
        required
        placeholder="Enter end date (YYYY-MM-DD)"
        (blur)="formatDate('endDate')"
      />
      <mat-error *ngIf="chartForm.get('endDate')?.hasError('required')">
        End date is required.
      </mat-error>
      <mat-error *ngIf="chartForm.get('endDate')?.hasError('pattern')">
        End date must be in the format YYYY-MM-DD.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Chart Color</mat-label>
      <input matInput type="color" formControlName="color" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="chartForm.value"
    [disabled]="!chartForm.valid"
  >
    Save
  </button>
</mat-dialog-actions>
